@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400..800&family=Baloo+Bhai+2:wght@400..800&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Syne:wght@400..800&display=swap');

@import "tailwindcss";

@theme{
  --font-display:'Baloo Bhai 2', 'Syne', sans-serif;
  --breakpoint-xs: 1920px;
  --color-primary: #ffffff;

}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    background-color: var(--color-primary);
    overflow-x: hidden;
  }
}

.input-box {
  @apply w-full max-w-6xl justify-between gap-3 text-sm text-black bg-slate-100/50 rounded px-1 py-3 mb-4 mt-3 border border-slate-200 outline-none;

  width: auto;

  @media (max-width: 1004px) {
    @apply w-auto;
  }

  @media (max-width: 460px) {
    @apply w-full;
  }



}
/* .btn-primary {
  @apply w-full text-sm text-white bg-blue-600 rounded px-1 py-3 mb-4 mt-3 border border-slate-200 outline-none cursor-pointer hover:bg-blue-500 transition-colors shadow-lg shadow-purple-600/5 rounded-md my-1;
} */

.btn-primary {
  
  @apply 
    w-full 
    text-sm 
    text-white 
    bg-gradient-to-r from-blue-600 via-blue-500 to-blue-600
    rounded-md 
    px-4 
    py-3 
    mb-4 
    mt-3 
    border 
    border-blue-700 
    outline-none 
    cursor-pointer 
    shadow-lg
    shadow-blue-500/50
    /* transition-all 
    duration-300 
    ease-in-out 
    active:scale-95  */
    my-1;

}

.btn-primary:hover {
  @apply transition-all 
    duration-300 
    ease-in-out 
    active:scale-99
    bg-gradient-to-r from-blue-500 via-blue-500 to-blue-500 scale-102 shadow-lg 
    shadow-purple-500/50;
}

.card {
  @apply w-full max-w-6xl bg-white rounded-lg shadow-md p-6 mb-4 mt-3 border border-slate-200;

  width: auto;

  @media (max-width: 1004px) {
    @apply w-auto;
  }

  @media (max-width: 460px) {
    @apply w-full;
  } 
}

.card-btn {
  @apply 
    flex
    items-center
    justify-center
    w-full
    text-sm
    text-black
    bg-gray-800/5
    rounded-xl
    px-4
    py-1
    mb-1
    mt-3
    border
    border-green-700
    outline-none
    cursor-pointer
    /* shadow-xl */
    /* shadow-blue-500/30 */
    font-semibold
    tracking-wide
    my-1;

  width: auto;

  @media (max-width: 1004px) {
    @apply w-auto;
  }

  @media (max-width: 460px) {
    @apply w-auto;
  }
}

.card-btn:hover {
  @apply 
    scale-102
    bg-gradient-to-r from-blue-500 via-indigo-500 to-blue-600
    text-white
    
}

.form-card{
  @apply bg-white p-6 rounded-lg shadow-md shadow-gray-100 border border-gray-200/50
}

.form-input{
  @apply w-full text-sm text-black bg-slate-100/50 rounded px-3 py-2 mb-2 mt-1 border border-slate-800 outline-none focus:ring-2 focus:ring-blue-400
}

.add-btn{
  @apply w-full text-sm text-white bg-primary px-1 py-3 mb-4 mt-3 border border-slate-200 outline-none cursor-pointer hover:bg-green-500 transition-colors shadow-lg shadow-green-600/5 rounded-md my-1;
}

.download-btn{
  @apply w-auto text-sm text-white bg-purple-600 px-1 py-3 mb-4 mt-3 border border-slate-200 outline-none cursor-pointer hover:bg-purple-500 transition-colors shadow-lg shadow-purple-600/5 rounded-md my-1;
}

.delete-btn{
  @apply w-auto text-sm text-white bg-red-600 px-1 py-3 mb-4 mt-3 border border-slate-200 outline-none cursor-pointer hover:bg-red-500 transition-colors shadow-lg shadow-red-600/5 rounded-md my-1;
}


html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #050505; /* Matches your Dark Theme background */
  overflow-x: hidden; /* Prevents horizontal scrolling */
}